<div id="add-container">  
  <div class="container-fluid">  
    <div class="col-md-7" id="add-map">
      <div id="map-search-panel">
        <div class="col-md-12 control-group">
          <div class="col-md-12 param-control">
            <form ng-submit="search()">              
              <input type="text" ng-model="searchVal" placeholder="Search for facilities or address here..." autofocus />
            </form>
          </div>
        </div>
      </div>
      <google-map responsive-height=".angular-google-map-container" height-offset="145" draggable="true" center="map.center" zoom="map.zoom" control="GMap">
        <markers models="results" coords="'self'" fit="true" click="clickMarker">
          <windows show="'show'" closeClick="'closeClick'" options="windowOptions">
            <p ng-non-bindable>{{ content.title }}!</p>
          </windows>
        </markers>
      </google-map>
    </div>

    <div responsive-height height-offset="50" class="col-md-5" id="add-form-wrapper">
      <div class="row" id="add-form">
        <form name="eventForm" ng-submit="addEvent(eventForm)" novalidate>          
          <div class="col-md-12 control-group">
            <div class="col-md-12 param-label title">
              Add New Event:
            </div>
          </div>
          <div class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': eventForm.title.$error.required && submitted}">
              Title: 
            </div>
            <div class="col-md-9 param-control">
                <input ng-model="event.title" name="title" type="text" placeholder="Event title" autofocus required />
            </div>
          </div>

          <div class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': !event.location && submitted}">
              Location: 
            </div>
            <div class="col-md-9 param-control">
                <input id="location" ng-model="event.location" name="location" type="text" placeholder="Use search to choose a location"  disabled required/>
                <p class="help-block" ng-show="event.location"><em>Latitude: {{event.position.lat}}, Longitude: {{event.position.lng}}</em></p>
            </div>
          </div>

          <div class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': eventForm.category.$error.required && submitted}">
              Category: 
            </div>
            <div class="col-md-9 param-control">
                <select ng-model="event.category" name="category" required>
                  <option value="">Select Category</option>
                  <option>Festive</option>
                  <option>Overseas</option>
                  <option>Sports</option>
                  <option>Recreation</option>
                  <option>Classes</option>
                </select>
            </div>
          </div>

          <div class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': eventForm.description.$error.required && submitted}">
              Description: 
            </div>
            <div class="col-md-9 param-control">
                <textarea ng-model="event.description" name="description" placeholder="Short description about your event" required></textarea>
            </div>
          </div>

          <div class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': !event.date && submitted}">
              Date: 
            </div>
            <div class="col-md-9 param-control">
                <div id="datepicker">                
                  <datepicker ng-model="event.date" name="date" min-date="minDate" show-weeks="true"></datepicker>
                </div>
            </div>
          </div>

          <div class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': eventForm.startTime.$error.required && submitted}">
              Start Time: 
            </div>
            <div class="col-md-9 param-control">
                <input ng-model="event.startTime" name="startTime" type="text" placeholder="HH:MM" required/>
            </div>
          </div>

          <div class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': eventForm.endTime.$error.required && submitted}">
              End Time: 
            </div>
            <div class="col-md-9 param-control">
                <input ng-model="event.endTime" name="endTime" type="text" placeholder="HH:MM" required/>
            </div>
          </div>        

          <div class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': eventForm.target.$error.required && submitted}">
              Target: 
            </div>
            <div class="col-md-9 param-control">
                <input type="number" min="1" ng-model="event.target" name="target" placeholder="How many people?" required />
            </div>
          </div>

          <div id="direct_upload" class="col-md-12 control-group">
            <div class="col-md-3 param-label text-right" ng-class="{'error': !event.imgId && submitted}">
              Image: 
            </div>
            <div class="col-md-9 param-control">
                <input id="imageUpload" name="file" type="file" />
                <div id="status">{{status}}</div>
                <div id="image-preview" ng-show="previewUrl">
                  <img id="previewImage" ng-src="{{previewUrl}}" />
                </div>
            </div>
          </div>

          <div class="col-md-12 control-group">
            <div class="col-md-12 param-label">
              <input type="submit" class="btn btn-block btn-success btn-lg" value="Submit Event" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>