#add-container {
  margin-top: 50px;
}

#map-search-panel {
  height: 95px;
  padding-left: 15px;
  padding-right: 15px;
}

#add-form-wrapper {
  overflow-y: scroll;
}

#add-container .container {
  padding: 0px;
}

#add-map {
  padding: 0px;  
}

@media (max-width: 992px) {
  #add-map {
    display: none;
  }  
}

#add-form {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.param-label.title {
  color: #6F5499;
  font-weight: bold;
}

.control-group textarea {
  width: 100%;
  height: 100px;
  border: none;
  resize: none;
  font-size: 14pt;
}

.control-group select {
  width: 100%;
  border: none;
  resize: none;
  background-color: transparent;
  font-size: 14pt;
}

#imageUpload {
  font-size: 10pt;
  border: none;
  margin-top: 5px;
}

@media(max-width: 992px) {
  .control-group .param-control select {
    margin-top: 15px;
  }
}

.control-group select:active,
.control-group select:focus {
  outline: none;
}

#datepicker .btn {
  border: none;
}

#datepicker .btn:active,
#datepicker .btn:focus {
  outline: none;
}

#location {
  border-bottom: 0px;
}

#previewImage {
  width: 100%;
}

.control-group .param-label.error {
  color: #cc6055;
}